.App{
  display:flex;
  background-color: rgb(170, 170, 170);
  border-color: rgb(170, 170, 170);
  flex-direction: column;
  min-height:100vh;
  padding-top:8vh;
  overflow:hidden;
  font-size:3vw;
  width:100vw;
  padding-right:0;
}
.navbar{
  background-color: rgb(221, 219, 103);
  color: white;
  height:8vh;
  width:100%;
  position:fixed;
  margin-top:-8vh;
  font-family: Impact;
  font-size: min(3vh,10vw);
  z-index:100;
}
.name-bar{
  margin: -4vh 0 0 1vh;
  position: fixed;
  font-family: Impact;
  font-size: min(3vh,10vw);
  color: rgb(255, 255, 255);
  overflow: hidden;
  text-shadow: 0.1em 0.2em 0.5em #5f5f5f;
  user-select: none;
  z-index: 101;
}
.logo-image{
  width: 2vw;
  min-width: 3.5vh;
}
.blur-pane{
  /*background-color: white;*/
  height: 92vh;
  width: 100%;
  position: fixed;
  pointer-events: none;
  opacity: 0;
}
.content-pane{
  /*background-color:white;*/
  flex-direction: row;
  display:flex;
  min-width: 100%;
  flex:1;
  overflow-x: auto;
}
.content-pane::-webkit-scrollbar {
  display: none;
}
.content-column{
  /*background-color:white;*/
  flex: 1;
  border: 2px solid rgb(170, 170, 170);
  display:flex;
  flex-direction: column;
  margin: 0 0% 0 1.5%;
  min-width:35%;
  height: fit-content;
  padding-bottom: 10%;
}
.content-row{
  /*border:2px solid black;*/
  height: fit-content;
  /*background:white;*/
  padding-top: 5%;
}
.content-message{
  background-color: #f0f0f0;
  width: 95%;
  display: flex;
  height: 60%;
  margin: 0 auto 3% auto;
  border-radius: 8px;
  padding: 0% 0 0 3%;
  flex-direction: column;
  font-size: max(1.5vh,1vw);
  line-height: max(1.5vh,1vw);
  user-select: none;
  word-wrap: break-word;
  min-height: 100%;
}
.gray-text{
  color: #7b7b7b;
}
.content-message span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
  margin-top: 1%;
  min-height: min(11vh,11vw);
}
.message-bar{
  font-size: 1.5vw;
  height:11%;
  margin: 1% 5% 0 0;
  display: flex;
  width:100%;
  font-variant: small-caps;
}
.topbar{
  margin: 1% 5% 0 0;
  display: flex;
  width:100%;
}
.botbar{
  margin: 2% 0% 6% 0;
  display: flex;
  width: 100%;
}
.right-bar{
  text-align: right;
  margin-left: auto;
  margin-right:4%;
  position: absolute;
  right: 2%;
  display: flex;
  flex-direction: row;
}


.post-form {
  border: 1px solid #ccc;
  padding: 20px;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  min-width: 100%;
  z-index: 1;
}

.close-button{
  position: absolute;
  right: 0;
  top: 0;
  background: #f43d3d;
  font-size: min(3vh,10vw);
  border: none;
}


.toggle-button {
  background-color: #e4f0a4;
  color: rgb(53, 53, 53);
  border: none;
  padding: 3% 7%;
  cursor: pointer;
  margin-bottom: 10px;
}

.post-title,
.post-content {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 95%;
}

.post-content{
  height: 20vh;
  resize: none;
}

.submit-button{
  background-color: rgb(191, 253, 196);
  border: 1px gray solid;
  position: absolute;
  right: 5%;
  bottom: 0;
}

.relative-container{
  position: relative;
  margin-top: 10%;
}

.medium-text{
  font-size: min(3vh,8vw);
}

.small-text{
  font-size: min(2vh,10vw);
}

.large-text{
  font-size: min(3.5vh,13vw);
}

.reply-container{
  position: absolute;
  left: 105%;
  top: 0;
  width: 100%;
}

.message-container{
  height: fit-content;
  position: relative;
}

.focused-message{
  background-color: orange;
}

.no-replies{
  opacity: 80%;
}

.margin-right{
  margin-right: 5vw;
}

.temp-left-margin{
  margin-left: 5vw;
}
